@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;

   @apply transition-colors duration-100;
}
@layer base {
   :root {
      --color-bkg: 179deg 75% 49%;
      --color-content: 196deg 74% 49%;
      --color-content2: 198deg 74% 32%;
      --color-content3: 198deg 74% 32%;
      --color-buttons: 198deg 74% 32%;
      --color-text: 262deg 28% 8%;

      --color-Res: 262deg 28% 8%;
      --color-Res2: 203deg 63% 19%;
      --color-Res3: 198deg 74% 32%;
      --color-Res4: 196deg 74% 49%;
      --color-Res5: 179deg 75% 49%;
      --color-Res6: 212deg 26% 29%;
   }
   :root[class="dark"] {
      --color-bkg: 262deg 28% 8%;
      --color-content: 203deg 63% 19%;
      --color-content2: 203deg 63% 19%;
      --color-content3: 179deg 75% 49%;
      --color-buttons: 196deg 74% 28%;
      --color-text: 198deg 0% 100%;
   }
}
